/*!
 *  build: vue-admin-beautiful 
 *  copyright: chuzhixin 1204505056@qq.com 
 *  time: 2020-8-15 09:26:51
 */[data-v-54c5abe2]:export{menu-color:hsla(0,0%,100%,.95);menu-color-active:hsla(0,0%,100%,.95);menu-background:#001529}.editor-container .news-title[data-v-54c5abe2]{text-align:center}.editor-container .news-content[data-v-54c5abe2] p{line-height:30px}.editor-container .news-content[data-v-54c5abe2] p img{display:block;margin-right:auto;margin-left:auto}.editor-container .vab-quill-content[data-v-54c5abe2] .el-form-item__content{line-height:normal}