/*!
 *  build: vue-admin-beautiful 
 *  copyright: chuzhixin 1204505056@qq.com 
 *  time: 2020-8-15 09:26:51
 */[data-v-050a269c]:export{menu-color:hsla(0,0%,100%,.95);menu-color-active:hsla(0,0%,100%,.95);menu-background:#001529}.better-scroll-container .right-content[data-v-050a269c]{height:500px;margin-top:40px;overflow:hidden}